.grid-square {
    box-sizing: border-box;
    border: 1px solid #166488;  /* 1px solid border for each square */
    background-color: lightgray;  /* Background color to help see each square */
  
}

#container {
    display: flex;
    flex-wrap: wrap;
    background-color: #8c9ba5;
    width: 800px; /* Fixed width */
    height: 800px; /* Fixed height */
    justify-content: flex-start;

}

#reset {
    display: flex;
    padding: 8px;
    margin: 8px;
    border-radius: 2px;
    color: rgb(41, 51, 51);
    background-color:azure;
}



body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 16px;
    align-items: center;
}